@page "/"

<PageTitle>Basic</PageTitle>

<div style="height:900px;overflow:hidden;overflow-y:auto">
    <VirtualList @ref="virtualList"
                 TItem="int"
                 Items="data"
                 @bind-ScrollTop="scrollTop">
        <Layout>
            <WaterfallLayout VirtualList="context"
                             HorizontalSpacing="12"
                             VerticalSpacing="24"
                             HeightCalculator="(o,_)=>o"></WaterfallLayout>
        </Layout>
        <ItemTemplate>
            <div style="height:100%;background-color:#aaccee;">@context</div>
        </ItemTemplate>
    </VirtualList>
</div>
<div class="toolkit">
    @if (scrollTop > 200)
    {
        <button class="toolkit-item oi oi-arrow-top"
                title="Back to the top"
                @onclick="()=>this.virtualList?.ScrollTopAsync()"></button>
    }
</div>
@code {
    private float scrollTop;
    private VirtualList<int> virtualList;
    private List<int> data =
      Enumerable
        .Range(0, 500)
        .Select(o => new Random().Next(120, 300))
        .ToList();
}