<div class="heighter" style="@(this.HeighterStyle)">
    <div class="spacer spacer-before" @ref="this.spaceBefore" style="@(this.SpacerBeforeStyle)"></div>
    <div class="spacer spacer-after" @ref="this.spaceAfter" style="@(this.SpacerAfterStyle)"></div>
</div>