<div class="heighter" style="@(this.HeighterStyle)">
    <div class="spacer spacer-before" @ref="this.SpaceBefore" style="@(this.SpacerBeforeStyle)"></div>
    <div class="spacer spacer-after" @ref="this.SpaceAfter" style="@(this.SpacerAfterStyle)"></div>
</div>