.virtual-list {
  position: relative;
}

.virtual-list .spacer {
  position: absolute;
  left: 0;
  width: 100%;
}

.virtual-list .heighter {
  position: relative;
}

.virtual-list .item {
  position: absolute;
  left: 0;
  top: 0;
}

.virtual-list .no-data {
  padding: 96px;
  text-align: center;
}

.virtual-list .no-data svg {
  margin: 16px;
}
