@typeparam TItem

<div class="virtual-list">
    <CascadingValue TValue="IVirtualList" Value="this" Name="VirtualList">
        <VirtualListPane></VirtualListPane>
    </CascadingValue>
    @if (this.Layout != null)
    {
        @this.Layout(this)
    }
    else
    {
        <RepeaterLayout VirtualList="this"></RepeaterLayout>
    }
</div>
