.virtual-list {
  .spacer {
    position: absolute;
    left: 0;
    width: 100%;
  }

  .heighter {
    position: relative;
  }

  .no-data {
    padding: 96px;
    text-align: center;

    svg {
      margin: 16px;
    }
  }

  .no-more {
    padding: 12px 0;
    text-align: center;
  }
}
