@page "/gridlist"

<PageTitle>Grid List</PageTitle>
<h3>Grid List</h3>

<VirtualList TItem="int"
             IncrementalItemsProvider="@this.LoadDataAsync">
    <Layout>
        <GridListLayout VirtualList="context"
                        Spacing="12"
                        ItemHeight="Auto"></GridListLayout>
    </Layout>
    <ItemTemplate>
        <div style="height:100%;background-color:#aaccee;">@context</div>
    </ItemTemplate>
</VirtualList>

@code {
    private async ValueTask<IEnumerable<int>> LoadDataAsync()
    {
        await Task.Delay(300);
        var items = Enumerable
              .Range(0, 50)
              .Select(o => new Random().Next(120, 600));
        return items;
    }
}
