@page "/"

<PageTitle>Home</PageTitle>
<VirtualList TItem="int" Items="data">
    <Layout>
        <WaterfallLayout VirtualList="context"
                         Spacing="24"
                         HeightCalculator="(o,_)=>o"></WaterfallLayout>
    </Layout>
    <ItemTemplate>
        <div style="height:100%;background-color:#aaccee;">@context</div>
    </ItemTemplate>
</VirtualList>
@code {
    private List<int> data = Enumerable.Range(0, 500).Select(o => new Random().Next(120, 300)).ToList();
}